{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Search Page || PR Reports Portal</title>
      <!-- Favicons -->
      <link href="{% static 'assets/img/fevi.png' %}" rel="icon">
  
    <link rel="stylesheet" type="text/css" href="{% static 'Repos/css/nav.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Repos/css/table.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Repos/css/search.css' %}" />
    
</head>
<body>
    <!-- Nav Bar.. -->
    <nav>
        <div class="nav-container">
          <ul>
              <li><a href="{% url 'home page' %}">Home Page</a></li>
              <li><a href="{% url 'hmicsandbox page' %}">HmicSandBox</a></li>
              <li><a href="{% url 'fcc page' %}">FCC Report</a></li>
              <li><a href="{% url 'rcc page' %}">RCC Report</a></li>
              <li><a href="{% url 'rtosapps page' %}">RtosApp Report</a></li>
          </ul>
        </div>
      </nav>

    <!-- Logic to display data.. -->
    {% if RSearched %}
    {% if R_all_repo %}
    <section class="ftco-section" style="padding-top: 6%; height: 70%; overflow-y: scroll;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
              <center><h2 class="heading-section"style="font-family: 'Poppins', sans-serif;">Here is the PR Report of HmicSandBox for Employee {{ RSearched }}</h2></center>
            </div>
          </div>
          <div class="row" style="padding-top: 2%;">
            <div class="col-md-12">
              <div class="table-wrap">
                <table class="table table-bordered table-dark table-hover">
                <thead>
                    <tr style="height:80px">
                        <th scope="col">S.No.</th>
                        <th scope="col">Email_ID</th>
                        <th scope="col">Repository</th>
                        <th scope="col">Last Merge Branch</th>
                        <th scope="col">Total open PR</th>
                        <th scope="col">Total Merged PR</th>
                        <th scope="col">Total Closed PR</th>
                        <th scope="col">Open PR Date & Time</th>
                        <th scope="col">Close PR Date & Time</th>
                        <th scope="col">Declined PR Date & Time</th>
                        <th scope="col">Ages of Open PR</th>
                        <th scope="col">Ages of Close PR</th>
                    </tr>
                </thead>
                <tbody>
                  {% for repos in R_all_repo %}
                    <tr>
                        <th scope="row" class="line">{{ forloop.counter }}</th>
                        <td>{{ repos.Developer_Email_ID }} </td>
                        <td>{{ repos.Repo }} </td>
                        <td>{{ repos.Last_Merge_Branch }} </td>
                        <td>{{ repos.Open_PR }} </td>
                        <td>{{ repos.Merged_PR }} </td>
                        <td>{{ repos.Declined_PR }} </td>
                        <td>{{ repos.Open_PR_DateTime }} </td>
                        <td>{{ repos.Close_PR_DateTime }} </td>
                        <td>{{ repos.Declined_PR_DateTime }} </td>
                        <td>{{ repos.Ages_of_Open_PR }} </td>
                        <td>{{ repos.Ages_of_Close_PR }} </td>
                    </tr>
                    {% empty %}
                    <center><h1>No Result Found 🤖</h1></center>
                    {% endfor %}

                </tbody>
    </table>
</div>
</div>
</div>
</div>
</section>
    {% else %}
        <center><h1 style="font-family: 'Poppins', sans-serif; padding-top: 20%;">No Result Found 🤖</h1></center>
        <center><h1 style="font-family: 'Poppins', sans-serif;">"{{ RSearched }}" doesn't Exist!!!</h1></center>
        {% endif %}
    {% else %}
    <div class="container">
        <center><h1 style="font-family: 'Poppins', sans-serif; padding-top: 20%;">You Forget to Enter Search Item!!!</h1></center>
    </div>    
    {% endif %}

</body>
</html>