{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>HmicSandBox Tab || PR Reports Portal</title>
  <link href="{% static 'assets/img/fevi.png' %}" rel="icon">
	<link rel="stylesheet" type="text/css" href="{% static 'Repos/css/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Repos/css/nav.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Repos/css/searchtest2.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'Repos/css/tableN.css' %}" />
</head>

<body style="overflow-y: auto;">
	<nav>
        <div class="nav-container">
        <ul>
            <li><a href="{% url 'home page' %}">Home Page</a></li>
            <li><a href="{% url 'hmicsandbox page' %}">HmicSandBox</a></li>
            <li><a href="{% url 'fcc page' %}">FCC Report</a></li>
            <li><a href="{% url 'rcc page' %}">RCC Report</a></li>
            <li><a href="{% url 'rtosapps page' %}">RtosApp Report</a></li>
        </ul>
        </div>
    </nav>
	<div class="container">
		<div class="search-container">
			<div class="search-bar">
        <form id="search-form" class="d-flex" role="search" method="post" action="{% url 'all-searched' %}">
          {% csrf_token %}
				<label for="email-search" style="font-family: 'Poppins', sans-serif;">Search by Email:</label>
				<input type="text" id="search-input" placeholder="Enter email..." name="Searched">
				<button id="email-search-button">Search</button>
        </form>
			</div>
			<div class="date-picker">
        <form id="date-form" method="post" action="{% url 'hmicsandbox page' %}">
          {% csrf_token %}
				<!-- <label for="start-date" style="font-family: 'Poppins', sans-serif;">Search between Dates:</label> -->
				<label for="start-date" style="font-family: 'Poppins', sans-serif;">From :</label>
				<input type="date" id="start-date" name="fromdate">
				<label for="start-date" style="font-family: 'Poppins', sans-serif; padding-left: 15px;"> To :</label>
				<input type="date" id="end-date" name="todate">
				<button id="date-search-button">Search</button>
      </form>
			</div>
		</div>
    </div>

  {% if RAll_Data_list %}
	<section class="ftco-section" style="height: 76.8%; overflow-y: scroll;">
    <div>
      {% if from %}
      <center><h2 class="heading-section" style="font-family: 'Poppins', sans-serif;">ALL PR Data For HmicSandBox From "{{from}}" To "{{to}}"</h2></center>
      {% else %}
      <center><h2 class="heading-section" style="font-family: 'Poppins', sans-serif;">ALL PR Data For HmicSandBox</h2></center>
      {% endif %}
    </div>
		<table class="table table-bordered table-dark table-hover" border="0" cellspacing="0" cellpadding="1">
			<thead>
			  <tr>
				<th scope="col">S.No.</th>
				<th scope="col">Developer Email ID</th>
				<th scope="col">Repo</th>
				<th scope="col">Last Merge Branch</th>
				<th scope="col">Current Open PR</th>
				<th scope="col">Total Open PR</th>
				<th scope="col">Total Merged PR</th>
				<th scope="col">Total Declined PR</th>
				<th scope="col">Open PR DateTime</th>
				<th scope="col">Close PR DateTime</th>
				<th scope="col">Declined PR DateTime</th>
				<th scope="col">Ages of Open PR</th>
				<th scope="col">Ages of Close PR</th>
			  </tr>
			</thead>
			<tbody>
			  {% for repo in RAll_Data_list %}
			  <tr>
				  <th scope="row" class="line">{{ forloop.counter }}</th>
				  <td>{{ repo.Developer_Email_ID }} </td>
				  <td>{{ repo.Repo }} </td>
				  <td>{{ repo.Last_Merge_Branch }} </td>
				  <td>{{ repo.Current_Open_PR }} </td>
				  <td>{{ repo.Open_PR }} </td>
				  <td>{{ repo.Merged_PR }} </td>
				  <td>{{ repo.Declined_PR }} </td>
				  <td>{{ repo.Open_PR_DateTime }} </td>
				  <td>{{ repo.Close_PR_DateTime }} </td>
				  <td>{{ repo.Declined_PR_DateTime }} </td>
				  <td>{{ repo.Ages_of_Open_PR }} </td>
				  <td>{{ repo.Ages_of_Close_PR }} </td>
			  </tr>
			  {% empty %}
			  <h1 style="font-family: 'Poppins', sans-serif;">No Data For HmicSandBox Found !!!</h1>
			  {% endfor %}
		
	</section>
  {% else %}
  <center><h1 style="font-family: 'Poppins', sans-serif; margin-top: 10%;">No Data For HmicSandBox Found !!!</h1></center>
  {% endif %}

<script src="{% static 'Repos/js/rowclick.js' %}"></script>
</body>
</html>
