.heading-section{
    color: rgb(20, 20, 20);
    text-shadow: 2px 2px 4px #a7a2a2;
    }

table {
    width: 100%;
    }
    
th {
    height: 70px;
    /* font-family:'Brush Script Std';   "Not working :[" */
    background-color: #414141;
    color: white;
    text-align: center;
    padding: 15px;
    }

.line{
    background-color: #365058;
    }

td {
    text-align: center;
    font-size: 15px;
    height: 50px;
    }

th, td {
    border-bottom: 1px solid #ddd;
    }

tr:hover {background-color: #6ba1e7be;}
    /* td,tr:nth-child(even) {background-color: #d3cfcf;} */